@import url('../../assets/styles/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #f8f9fa;
  }
  
  
  .imagem {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 2rem;
  }
  
  .conteudo-principal {
    text-align: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .titulo {
    font-size: 2rem;
    color: rgb(1, 90, 1);
    margin-bottom: 1.5rem;
    font-family: var(--font-Inter); 
    font-weight: var(--font-weight-bold);
  }
  
  .descricao {
    font-size: 1.25rem;
    line-height: 1.6;
    color: rgb(21, 110, 21);
    font-family: var(--font-Inter); 
    font-weight: 300;
  }

  .botao {
      width: 200px;
      height: 50px;
      border: 2px solid;
      border-radius: 50px;
      font-family: var(--font-Inter); 
      font-weight: 300;
  }

  .botao:hover {
      border: 2px solid #4CB236;
      border-bottom: 5px solid #4CB236;
  }

  .botao:active{
      transform: translateY( 5px );
  }

