@import url('../../assets/styles/variables.css');

.conteudoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.botaoaAcessarPagina {
    width: 200px;
    height: 50px;
    border: 2px solid;
    border-radius: 50px;
    font-family: var(--font-poppins);
    font-weight: var(--font-weight-medium);
    background-color: transparent;
}

.botaoaAcessarPagina:hover {
    border: 2px solid #4CB236;
    border-bottom: 5px solid #4CB236;
}

.botaoaAcessarPagina:active{
    transform: translateY( 5px );
}

@media (max-width: 500px) {
    .imagemInst {
        margin-top: 110px;
        width: 400px;
        height: 300px;
    }

    .botaoaAcessarPagina {
        margin-top: 100px;
        width: 150px;
    }
}