@import url('../../assets/styles/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #f8f9fa;
  }
  
  .imagem {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 2rem;
  }
  
  .conteudoPrincipal {
    text-align: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .titulo {
    font-size: 2rem;
    color: #00631C;
    margin-bottom: 1.5rem;
    font-family: var(--font-poppins); 
    font-weight: var(--font-weight-bold);
  }
  
  .descricao {
    font-size: 1,7rem;
    line-height: 1.6;
    color: #00631C;
    font-family: var(--font-Inter); 
    font-weight: 300;
    text-align: center;
  }

  .span {
    color: #00631C;
    font-weight: var(--font-weight-bold);
  }

  .botao {
      width: 200px;
      height: 50px;
      border: 2px solid;
      border-radius: 50px;
      font-family: var(--font-Inter); 
      font-weight: 400;
      background-color: transparent;
      font-size: 21px;
    
  }

  .botao:hover {
      border: 2px solid #4CB236;
      border-bottom: 5px solid #4CB236;
  }

  .botao:active{
      transform: translateY( 5px );
  }

  @media (max-width: 500px) {
    .imagem5 {
      width: 300px;
    }
    .descricao {
      font-size: 21px;
    }
  }

