@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');

.containerHeader {
    display: grid;
    align-items: center; 
    height: 100px;
}

.containerHeader nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8%;
    margin-bottom: 50px;
}

.containerHeader nav a {
    color: #5B5B5B;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Inter', sans-serif; 
    font-weight: 300;
}

.active {
  color: #0ed346 !important;
  font-weight: bold;
  text-decoration: underline;
}

