@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');

body {
    background-color: white;
}

.login-container {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
}

.login-box {
  background-color: white;
  border-radius: 24px;
  padding: 0px 24px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-image {
  width: 100%;
  height: auto;
  max-height: 160px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.mascote {
  width: 154px;
  height: 126px;
  margin-bottom: 24px;
}

.input-email {
  background-image: url('../../assets/img/email-icon.png');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px 20px;
  padding-left: 40px;
  background-color: white;
  color: black;
  border: 1px solid #2E7D32;
  border-radius: 8px;
  height: 42px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 16px;
}

.input-senha {
  background-image: url('../../assets/img/senha-icon.png');
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px 20px;
  padding-left: 40px;
  background-color: white;
  color: black;
  border: 1px solid #2E7D32;
  border-radius: 8px;
  height: 42px;
  width: 100%;
  font-size: 14px;
}

.esqueci-senha {
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: #2E7D32;
  margin-bottom: 16px;
  margin-top:8px;
  font-family: 'Inter', sans-serif;
}

.esqueci-senha a {
  text-decoration: none;
  color: #00631C;
}

.login-button {
  background-color: #2E7D32;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 24px;
  width: 50%;
  font-weight: bold;
  margin-bottom: 16px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.divider {
  color: #2E7D32;
  margin: 8px 0;
  text-align: center;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.registrar-link {
  color: #2E7D32;
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.social-icons {
  display: flex;
  gap: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.social-icons img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 12px;
  text-align: center;
}
.input-error {
  border: 1px solid red !important;
  background-image: url('../../assets/img/image-erro.png'); 
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px 20px;
}


