.container {
    font-family: Arial, sans-serif;
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
  }
  
  .illustration img {
    margin-top: 1px;
    width: 360px;
    max-width: 100%;
  }
  
  h2 {
    color: #006400;
    font-size: 2rem;
    margin-top: 24px;
  }
  
  p {
    color: #065f2c;
    font-size: 1.7rem;
    font-weight: normal;
    max-width: 600px;
    margin: 16px auto 32px;
    line-height: 1.5;
  }