@import url('../../assets/styles/variables.css');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
  background: var(--cor-primaria);
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  color: #006400;
  font-size: 29px !important;
  margin-bottom: 1rem;
  font-family: var(--fonte-Inter); 
  font-weight: var(--font-weight-bold);
  margin-top: 1px;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


.descricao {
  color: #00631C;
  margin-top: 2rem;
  font-family: var(--font-Inter); 
  font-weight: 300;
  font-size: 30px;
}

.spanCor {
  font-weight: var(--font-weight-bold);
}


@media (max-width: 500px) {
  .imagem3 {
    width: 300px;
    height: 400px;
  }

  .descricao {
    font-size: 22px

  }

  br {
    display: none;
  }
}
