@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
  background: #fff;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  color: #006400;
  font-size: 29px !important;
  margin-bottom: 1rem;
  font-family: 'Inter', sans-serif; 
  font-weight: 700;
  margin-top: 1px;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.descricao {
  color: #006400;
  margin-top: 2rem;
  font-size: 24px !important;
  font-family: 'Inter', sans-serif; 
  font-weight: 300;
}
