body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
  background: #fff;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  color: #006400;
  font-size: 29px !important;
  margin-bottom: 1rem;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.descricao {
  color: #006400;
  margin-top: 2rem;
  font-size: 24px !important;
  font-weight: 10px !important;
}
